@media only screen and (max-width: 1300px) {
    .navbar {
        position: absolute;
        z-index: 2;
        /*background: rgba(63, 127, 191, 0.2);*/
        color: black;
        top: 0;
        left: 0;
    }

    .nav-bar-block {
        position: relative;
    }

    .nav-link {
        font-weight: bold;
    }

    .nav-item:hover {
        background-color: rgba(63, 127, 191, 0.2);
    }
}